@charset "utf-8";

body, ul, h1, h2, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.blind {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

body {
  text-align: center;  
}

header {
  height: 48px;
  background-color: #333;
}

li {
  margin-bottom: 14px;
  padding-top: 51px;
  text-align: center;
  background-color: #fafafa;
}

h2 {
  font-size: 30px;
  line-height: 31px;
  color: #111
}

h2 span {
  font-weight: 300;
}

p {
  margin: 5px 0 11px;
  padding: 0 30px;
  font-size: 17px;
  line-height: 27.5px;
  color: #111;
}

a {
  font-size: 17px;
  line-height: 27px;
  color: #0070c9;
}

img {
  width: 100%;
}

.ios_13 {
  height: 400px;
  background-image: url(./img/bg_ios_13.png);
  background-size: cover;
  background-position: 50%;
}

.ios_13 h2 {
  color: #fff;
}

.ios_13 p {
  color: #fff;
}